@font-face {
  font-family: "iconfont"; /* Project id 4273662 */
  src: url('//at.alicdn.com/t/c/font_4273662_m6gd15dscze.woff2?t=1696857177062') format('woff2'),
       url('//at.alicdn.com/t/c/font_4273662_m6gd15dscze.woff?t=1696857177062') format('woff'),
       url('//at.alicdn.com/t/c/font_4273662_m6gd15dscze.ttf?t=1696857177062') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googlescholar:before {
  content: "\ebae";
}

.icon-researchgate:before {
  content: "\ec7e";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-address:before {
  content: "\e634";
}

.icon-phone:before {
  content: "\e67d";
}

.icon-email:before {
  content: "\e610";
}

.icon-gitee:before {
  content: "\e60c";
}
